In [ ]:
!python --version

Python 3.7.10

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
import requests
from bs4 import BeautifulSoup
import json
import time
import pandas as pd
import datetime as dt
import numpy as np
import re

In [ ]:
url = 'https://www.worldometers.info/coronavirus/#nav-yesterday'

In [ ]:
html_text = requests.get(url).text
tree = BeautifulSoup(html_text, 'html.parser')

In [ ]:
table = tree.find('table', {'id': 'main_table_countries_yesterday'})

In [ ]:
time = tree.find('div', {'class': 'content-inner'}).find_all('div', limit=2)[-1].text

time_get = dt.datetime.strptime(time, 'Last updated: %B %d, %Y, %H:%M GMT')

time_data = time_get - dt.timedelta(1) # yesterday

In [ ]:
header = [i.text for i in table.thead.tr.find_all('th')]

In [ ]:
body = table.tbody.find_all('tr')

In [ ]:
lines = []
for line in body:
    if line.get('style', None):
        if 'display: none' in line['style']:
            # skip this hidden line
            continue
            
    lines.append(line.find_all('td'))

In [ ]:
len(lines)

223

In [ ]:
res = []
for i in lines:
    res.append([col.text for col in i])

In [ ]:
df = pd.DataFrame(np.array(res), columns=header)

In [ ]:
df.head(10)

   # Country,Other  ... New Deaths/1M pop Active Cases/1M pop
0            World  ...
1  1         China  ...                                   0.2
2  2           USA  ...                 3              20,485
3  3         India  ...                 3               2,281
4  4        Brazil  ...                14               4,861
5  5        France  ...                 5              15,133
6  6        Russia  ...                 2               1,831
7  7        Turkey  ...                 4               5,797
8  8            UK  ...               0.3               1,121
9  9         Italy  ...                 5               7,265

[10 rows x 22 columns]

transform NaN value

In [ ]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [ ]:
time_data_str = time_data.strftime("%Y_%m_%d")
time_data_str

'2021_04_29'

In [ ]:
df.shape

(223, 22)

Add date_time column

In [ ]:
df.insert(loc=0, column='time_data', value=time_data.strftime("%Y-%m-%d"))

In [ ]:
df

      time_data    #  ... New Deaths/1M pop Active Cases/1M pop
0    2021-04-29  NaN  ...               NaN                 NaN
1    2021-04-29    1  ...               NaN                 0.2
2    2021-04-29    2  ...                 3              20,485
3    2021-04-29    3  ...                 3               2,281
4    2021-04-29    4  ...                14               4,861
..          ...  ...  ...               ...                 ...
218  2021-04-29  218  ...               NaN                 NaN
219  2021-04-29  219  ...               NaN                 NaN
220  2021-04-29  220  ...               NaN                   5
221  2021-04-29  221  ...               NaN                 NaN
222  2021-04-29  222  ...               NaN                 NaN

[223 rows x 23 columns]

In [ ]:
df.to_csv(f"covid_data/Mission_report_{time_data_str}.csv", index=False)

In [ ]:
%ls

'Copy of Main.ipynb'     csv@                         Main.ipynb
 covid_data/             data_HG.csv                  Untitled0.ipynb
 covid_data_packed.zip   full_data.csv
 CrawlData.ipynb         Lab-1-Bonus-18120339.ipynb

Add data to zip file

In [ ]:
!zip -r covid_data_packed.zip "covid_data/Mission_report_{time_data_str}.csv"

  adding: covid_data/Mission_report_2021_04_29.csv (deflated 56%)

In [ ]:
df2 = df.copy()
df2.NewCases

0      +898,662
1           +20
2       +59,269
3      +386,888
4       +69,079
         ...
218         NaN
219         NaN
220         NaN
221         NaN
222         NaN
Name: NewCases, Length: 223, dtype: object

In [ ]:
df2.NewCases.replace(r'\+', '', regex=True, inplace=True)
df2.NewCases.replace(r',', '', regex=True, inplace=True)

In [ ]:
df2.NewCases = pd.to_numeric(df2.NewCases)

In [ ]:
df2.sort_values(['NewCases'], ascending=False).head(20)

     time_data    #  ... New Deaths/1M pop Active Cases/1M pop
0   2021-04-29  NaN  ...               NaN                 NaN
3   2021-04-29    3  ...                 3               2,281
4   2021-04-29    4  ...                14               4,861
2   2021-04-29    2  ...                 3              20,485
7   2021-04-29    7  ...                 4               5,797
11  2021-04-29   11  ...                 4               3,819
5   2021-04-29    5  ...                 5              15,133
12  2021-04-29   12  ...                12               6,222
15  2021-04-29   15  ...                 5               5,542
13  2021-04-29   13  ...                10               2,300
9   2021-04-29    9  ...                 5               7,265
17  2021-04-29   17  ...                 9               8,741
10  2021-04-29   10  ...                 3               5,215
6   2021-04-29    6  ...                 2               1,831
18  2021-04-29   18  ...                11               1,284
14  2021-04-29   14  ...                14               6,202
23  2021-04-29   23  ...                 1               2,195
27  2021-04-29   27  ...                 1                 626
22  2021-04-29   22  ...                 1              13,025
25  2021-04-29   25  ...                 1               2,647

[20 rows x 23 columns]