In [18]:
import findspark
findspark.init('C:/Users/tungrg/anaconda3/Lib/site-packages/pyspark')

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [7]:
spark = SparkSession.builder.getOrCreate()

In [14]:
df = spark.read.option("inferSchema", "true").option("header", "true").csv("data1.csv")

In [16]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [18]:
df = spark.read.json("people.json")

In [19]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [22]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [23]:
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [24]:
df.filter(df['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [25]:
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

In [27]:
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT * FROM people where age > 20")
sqlDF.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+